In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as st
import seaborn as sns

In [2]:
cars = pd.read_csv("./data/cars.csv")
cars.loc[:, 'mpg'].mode()

0    10.4
1    15.2
2    19.2
3    21.0
4    21.4
5    22.8
6    30.4
Name: mpg, dtype: float64

In [3]:
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [4]:
cars.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [6]:
ct = cars.groupby(['am'])
ct['mpg'].apply(lambda x: x.mode())

am
0   0    10.4
    1    15.2
    2    19.2
1   0    21.0
    1    30.4
Name: mpg, dtype: float64

In [7]:
# _ct = (
#     cars.groupby(['am'])
#     [['mpg'].apply(lambda x: x.mode())]
# )
# _ct

# median fuel consumption for the cars in the dataset
cars.loc[:, 'mpg'].median()

19.2

In [8]:
# median per transmission
ct['mpg'].median()

# 0: automatic cars = 17.3
# 1: manual cars = 22.8

am
0    17.3
1    22.8
Name: mpg, dtype: float64

In [10]:
print(f'MPG Average: {ct['mpg'].mean()}')

MPG Average: am
0    17.147368
1    24.392308
Name: mpg, dtype: float64

In [11]:
import numpy as np
def g_mean(x):
	avg_lnx = np.log(x)
	return np.exp(avg_lnx.mean())

In [12]:
bsg_ages = [45, 30, 50, 26, 40]
g_mean(bsg_ages)

37.090904350447026

In [13]:
from scipy.stats import gmean
gmean(bsg_ages)

37.090904350447026

In [14]:
ct['mpg'].apply(gmean)

am
0    16.721440
1    23.649266
Name: mpg, dtype: float64

In [15]:
def h_mean(x):
	sum = 0
	for val in x:
		sum += 1/val
	return len(x)/sum

In [16]:
bsg_ages = [45, 30, 50, 26, 40]
h_mean(bsg_ages)

35.96679987703658